<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('comp/left_nav') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('comp/top_nav', { action: '/admin/recipes/search/' }) %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Recipes</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Recipes Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0 table-bordered table-striped table-hover" id="dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                            <th>Prep Time</th>
                                            <th>Cook Time</th>
                                            <th>Difficulty</th>
                                            <th>Ingredients</th>
                                            <th>Instructions</th>
                                            <th>Category</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (recipes && recipes.length > 0) { %>
                                        <%   recipes.forEach((recipe, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= recipe.title %></td>
                                            <td><%= recipe.description %></td>
                                            <td>
                                                <% if (recipe.images && recipe.images.length > 0) { %>
                                                <img width="200" height="200" src="<%= recipe.images[0] %>" alt="<%= recipe.title%>">
                                                <% } else { %>
                                                <p>No image available</p>
                                                <% }  %>
                                            </td>
                                            <td><%= recipe.prepTime %></td>
                                            <td><%= recipe.cookTime  %></td>
                                            <td><%= recipe.difficulty  %></td>
                                            <td>
                                                <% if (recipe.ingredients && recipe.ingredients.length > 0) { %>
                                                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                                                    data-bs-target="#ingredients-<%= recipe._id %>" aria-expanded="false" 
                                                    aria-controls="ingredients-<%= recipe._id %>">View ingredients
                                                </button>
                                                <div class="collapse mt-2" id="ingredients-<%= recipe._id %>">
                                                    <ol>
                                                        <% recipe.ingredients.forEach(ingre => { %>
                                                        <li><%= ingre.name %> <%= ingre.amount %> <%= ingre.unit %></li>
                                                        <% }) %>
                                                    </ol>
                                                </div>
                                                <%  } %>
                                            </td>
                                            <td>
                                                <% if (recipe.instructions && recipe.instructions.length > 0) { %>

                                                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                                                    data-bs-target="#instructions-<%= recipe._id %>" aria-expanded="false" 
                                                    aria-controls="instructions-<%= recipe._id %>">View instructions
                                                </button>
                                                <div class="collapse mt-2" id="instructions-<%= recipe._id %>">
                                                    <ol>
                                                        <%    recipe.instructions.forEach((instrs, _) => { %>
                                                        <li><%=  instrs %> </li>
                                                        <% }) %>
                                                    </ol>
                                                </div>
                                                <% } else { %>
                                                    <p>No instructions available </p>
                                                <% } %>
                                            </td>
                                            <td><%= recipe.category %></td>
                                            <td>
                                                <a href="/admin/recipe/update/<%= recipe.id %>">Update</a> |
                                                <a href="/admin/recipe/delete/<%= recipe.id %>">Delete</a>
                                            </td>
                                        </tr>
                                        <%    })  %>
                                        <%  } else {  %>
                                        <tr>
                                            <td colspan="11">No recipes found.</td>
                                        </tr>
                                        <%  }  %>

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="row"> -->
                            <!--     <div class="col-md-6 align-self-center"> -->
                            <!--         <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p> -->
                            <!--     </div> -->
                            <!--     <div class="col-md-6"> -->
                            <!--         <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"> -->
                            <!--             <ul class="pagination"> -->
                            <!--                 <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li> -->
                            <!--                 <li class="page-item active"><a class="page-link" href="#">1</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" href="#">2</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li> -->
                            <!--             </ul> -->
                            <!--         </nav> -->
                            <!--     </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>
