<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('comp/left_nav') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('comp/top_nav', { action: '/admin/users/user/search/' }) %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Users Management</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Users Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0 table-bordered table-striped table-hover" id="dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>username</th>
                                            <th>bio</th>
                                            <th>created at</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (users && users.length > 0) { %>
                                        <%   users.forEach((user, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= user.username %></td>
                                            <td><%= user.bio %></td>

                                            <td> 
                                                <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(user.createdAt) %>
                                            </td>
                                            <td>
                                                <!-- /users/user/delete/:id -->
                            <!-- adminRouter.post("/users/user/update/",         isAuthenticated, AdminController.updateUserPost); -->
                            <!-- adminRouter.get("/users/user/update/:id",       isAuthenticated, AdminController.updateUserPage); -->
                                                <a href="/admin/users/user/update/<%= user.id %>">Update</a> |
                                                <a href="/admin/users/user/delete/<%= user.id %>">Delete</a>
                                            </td>

                                        </tr>
                                        <%    })  %>
                                        <%  } else {  %>
                                        <tr>
                                            <td colspan="11">No users found.</td>
                                        </tr>
                                        <%  }  %>

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="row"> -->
                            <!--     <div class="col-md-6 align-self-center"> -->
                            <!--         <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p> -->
                            <!--     </div> -->
                            <!--     <div class="col-md-6"> -->
                            <!--         <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"> -->
                            <!--             <ul class="pagination"> -->
                            <!--                 <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li> -->
                            <!--                 <li class="page-item active"><a class="page-link" href="#">1</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" href="#">2</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                            <!--                 <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li> -->
                            <!--             </ul> -->
                            <!--         </nav> -->
                            <!--     </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>
